/* Escribe acá tus estilos*/
*{
	margin: 0;
	padding: 0;
}
h1{
	background: #F9C4AC;
	height: 100px;
	text-align: center;
}
#formulario{
	background: #272637;
	padding: 25px 0;
	color: white;
	font-weight: 600;
	font-size: larger;
}
#formulario form,p{
	background: #474168;
	width: 80%;
	border-radius: 5px;
	margin: 20px auto;
	padding: 10px;
}
form{
	display: grid;
	text-align: center;
}
form input,select{
	width: 50%;
	margin: auto;
}
form button{
	width: 10%;
	margin: auto;
}